<div class="section-container">
    <div class="type" routerLink="/type/staples">
        <img src="assets/staples.png">
        <p>Staples</p>
    </div>
    <div class="type"  routerLink="/type/dairy">
        <img src="assets/beverages.png">
        <p>Dairy</p>
    </div>
    <div class="type"  routerLink="/type/snacks">
        <img src="assets/snacks.png">
        <p>Snacks</p>
    </div>
    <div class="type"  routerLink="/type/vegetables">
        <img src="assets/vegetables.png">
        <p>Vegetables</p>
    </div>
</div>