<div class="landing">
    <div class="starting">
        <div class="top">
            <div class="left">
                <h2>Bring the store to your doorstep.</h2>
                <h2>Introducing, <span class="name">BIGKART</span></h2>
                <h4>"A <span class="fresh">fresh</span> approach to online grocery shopping."</h4>
                <custom-button (click)="notify()" str="Know more"></custom-button>
            </div>
            <div class="right">
                <img class="store" src="assets/store.png" alt="">
            </div>
        </div>
    </div>
    <div class="sections">
        <h3>What we sell</h3>
        <sections></sections>
    </div>
    <div class="empty"></div>
</div>